.webinar-brochure {
    font-family: 'Cabin', sans-serif;
}

.z-index-1 {
    z-index: 1;
}

.mr-2 {
    margin-right: .5rem!important;
}

.mb-115{
    margin-bottom: 115px;
}

.width-auto {
    width: auto;
}

.webinar-brochure header {
    height: 76px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    color: #263952;
}

.webinar-brochure header .navbar {
    padding: 0;
    text-align: center;
}

.webinar-brochure header .nav-item:not(:last-child) {
    margin-right: 40px;
}
.webinar-brochure header .nav-item,
.web-pricing header .nav-item{
        padding-right: .5rem;
        padding-left: .5rem;

}

.webinar-brochure .navbar-expand-lg .navbar-nav .nav-link {
    line-height: 22px;
    font-size: 17px;
    color: #ababab;
    padding: 0;
}


.webinar-brochure header .white-btn {
    border: 2px solid #000000;
    line-height: 40px;
    font-weight: 600;
    font-size: 17px;
    color: #000000;
    text-decoration: none;
    border-radius: 6px;
    min-width: 160px;
    height: 45px;
    text-align: center;
}

.webinar-brochure header .white-btn-2 {
    display: none;
}

.webinar-brochure header .black-btn {
    background-color: #000000;
    border-radius: 6px;
    min-width: 160px;
    line-height: 40px;
    font-weight: 600;
    font-size: 17px;
    height: 45px;
    color: #ffffff;
    text-align: center;
}

.webinar-brochure .nav-login {
    font-size: 17px;
    color: #ababab;
}

.webinar-brochure .home-top {
    padding: 90px 0;
    border-bottom: 0;
}

.webinar-brochure  .home-top_title {
    font-size: 60px;
    font-weight: 700;
    width: 100%;
    line-height: 78px;
    margin: 0 auto 22px;
    color: #000;
    text-align: center;
    max-width: 1190px;
}

.webinar-brochure  .home-top_title_2 {
    font-size: 60px;
    font-weight: 700;
    width: 100%;
    line-height: 78px;
    margin: 0 auto 22px;
    color: #000;
    text-align: center;
    max-width: 1190px;
}

.webinar-brochure  .home-top_title_3 {
    font-size: 60px;
    font-weight: 700;
    width: 100%;
    line-height: 78px;
    margin: 0 auto 22px;
    color: #000;
    text-align: center;
    max-width: 1190px;
}

.webinar-brochure .home-top_info {
    max-width: 545px;
    text-align: center;
    margin: auto;
    font-weight: 500;
    color: #000;
    line-height: 30px;
    font-size: 20px;
}

.webinar-brochure .home-top_info-2 {
    max-width: 570px;
    text-align: center;
    margin: auto;
    font-weight: 500;
    color: #000;
    line-height: 30px;
    font-size: 20px;
}

.webinar-brochure .home-top_info-3 {
    max-width: 545px;
    text-align: center;
    margin: auto;
    font-weight: 500;
    color: #000;
    /*line-height: 30px;*/
    font-size: 17px;
    margin-bottom: 20px;
}

.webinar-brochure .home-top-txt {
    max-width: 450px;
    text-align: center;
    margin: auto;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 25px;
}

.webinar-brochure .btn-core {
    color: #002fd3;
    border: 2px solid #002fd3;
    font-size: 20px;
    font-weight: 500;
    height: 50px;
    margin-bottom: 80px;
    line-height: 46px;
    padding: 0 72px 0 30px;
    position: relative;

}
.webinar-brochure .btn-core:before {
   content: "";
    width: 30px;
    position: absolute;
    border: 1px solid #002fd3;
    top: 27px;
    right: 30px;
}

.webinar-brochure .btn-core-black {
    color: #ffffff;
    font-size: 20px;
    width: 220px;
    background-color: #000000;
    height: 45px;
    line-height: 25px;
    text-align: center;
}

.webinar-brochure .btn-core-black-2 {
    color: #ffffff;
    font-size: 20px;
    width: 165px;
    background-color: #000000;
    height: 50px;
    line-height: 32px;
    text-align: center;
}

.webinar-brochure .btn-core-white {
    color: #000000;
    font-size: 20px;
    width: 165px;
    border: 2px solid #000000;
    background-color: #ffffff;
    height: 50px;
    line-height: 32px;
    text-align: center;
}

.webinar-brochure .people-message {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 23px 32px 0px rgba(0, 0, 0, 0.16);
    margin-bottom: 10px;
}

.webinar-brochure .people-mini-icons {
    margin-bottom: 15px;
}

.webinar-brochure .people-text {
    margin-bottom: 25px;
    color: #000000;
}

.webinar-brochure .people-txt {
    /*width: 222px;*/
    height: 50px;
    margin: -10px;
    padding-left: 10px;
    border: none;
    background-color: #f5f9fc;
    border-radius: 0 0 4px 4px;
}

.webinar-brochure .image-round {
    width: 100%;
    position: relative;
    display: block;
}

.webinar-brochure .middle-sec {
    background-color: #e3ebff;
    max-width: 100%;
    padding: 580px 0 150px;
}

.webinar-brochure .middle-sec:before {
    height: 37rem;
}

.webinar-brochure .image-round img {
    display: inline-block;
}

.webinar-brochure .image-notebook {
    width: auto;
    margin-bottom: 55px;
    max-width: 100%;
}

.webinar-brochure .live-meeting {
    background-image: -moz-linear-gradient( 0deg, rgb(0,47,211) 0%, rgb(255,0,48) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(0,47,211) 0%, rgb(255,0,48) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(0,47,211) 0%, rgb(255,0,48) 100%);
    color: #ffffff;
    height: 50px;
    padding: 0 4px 0 18px;
    line-height: 50px;
    border-radius: 25px 0 25px 25px;
    position: relative;
}

.webinar-brochure .top-elipse {
     position: absolute;
     top: -150px;
     right: 10px;
     z-index: -1;
     display: block;
}

.webinar-brochure .top-elipse-mini {
     display: none;
}

.webinar-brochure .top-elipse-mini-2 {
     display: none;
}

.webinar-brochure .live {
    margin-bottom: 0;
    font-size: 15px;
}

.webinar-brochure .mini-elipse {
    position: absolute;
    left: -10px;
    top: 15px;
}

.webinar-brochure .middle-elipse {
    position: absolute;
    top: -145px;
    left: 220px;
    z-index: 0;
    display: block;
}

.webinar-brochure .middle-elipse-2 {
    display: none;
}

.webinar-brochure .middle-elipse-3 {
    display: none;
}

.webinar-brochure .bottom-elipse {
    position: absolute;
    top: -145px;
    right: 220px;
    z-index: -1;
    display: block;
}

.webinar-brochure .dropdown {
    display: none;
}

.webinar-brochure .bottom-elipse-2,
.webinar-brochure .bottom-elipse-3 {
    display: none;
}

.webinar-brochure .row-bigger {
    margin-left: -10px!important;
    margin-right: -10px!important;
    margin-bottom: 50px !important;
}

.webinar-brochure .col-bigger {
    padding-left: 10px!important;
    padding-right: 10px!important;
}

.webinar-brochure .box:hover {
    transform: translateY(-20px);
    cursor: pointer;
}

.webinar-brochure .box:hover .icon .first-source-1{
    background: -webkit-gradient(linear, left top, right top, from(#032ed1), to(#fa0133));
    background: linear-gradient(to right, #032ed1 0%, #fa0133 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.webinar-brochure .trans {
    transition: all 0.5s ease;
}

.webinar-brochure .box {
    background-color: #fff;
    display: block;
    font-size: 18px;
    line-height: 170%;
    position: relative;
    padding: 1.944rem 2.389rem;
    height: 100%;
    text-align: center;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0px 23px 32px 0px rgba(0, 0, 0, 0.16);
}

.webinar-brochure .icon {
    margin-bottom: 15px;

}

.webinar-brochure .icon-pic {
    display: block;
    margin: 15px auto 20px;
}

.webinar-brochure .box:hover .icon .icon-pic{
    display: none;
}
.webinar-brochure .box:hover .icon .icon-pic-2{
    display: block;
}

.webinar-brochure .icon-pic-2 {
    margin: 15px auto 20px;
    display: none;
}

.webinar-brochure .first-source-1 {
    color: #002fd3;
    font-size: 26px;
    line-height: 130%;
    font-weight: 500;
    margin: 0 0 15px 0;
}


.webinar-brochure .card-title,
.webinar-brochure .card-text {
    text-align: center;
    margin-top: 15px;
}

.webinar-brochure .card {
    width: 100%;
    padding: 30px;
    box-shadow: 0px 23px 32px 0px rgba(0, 0, 0, 0.16);
    margin: 0;
    min-height: 540px;
    height: 100%;
}

.webinar-brochure .card:hover {
    transform: translateY(-20px);
    cursor: pointer;
    box-shadow: 0px 23px 32px 0px rgba(0, 0, 0, 0.16);
}

.webinar-brochure .card-title {
    color: #002fd3;
    font-size: 26px;
}

.webinar-brochure .card-text {
    font-size: 18px;
    line-height: 22px;
}

.webinar-brochure .business-btns {
   margin-bottom: 70px;
}

.webinar-brochure .desktop-image {
    transform: translate(0,680px);
    margin-top: -680px;
}

.webinar-brochure .desktop-image-two {
    /*transform: translate(0,380px);*/
    margin-top: -120px;
    position: relative;
}

.webinar-brochure .desktop-image-three {
    transform: translate(0,730px);
    margin-top: -730px;
    position: relative;
}

.webinar-brochure .card-desk-block {
    transform: translate(0,100px);
    margin-top: -100px;
}

.webinar-brochure .people-icons-two {
    position: absolute;
    top: -55px;
    right: 95px;
}

.webinar-brochure .people-icons-three {
    position: absolute;
    top: -195px;
    right: 95px;
}

.webinar-brochure .pencils {
    position: absolute;
    right: 93px;
    bottom: 185px;
}

.webinar-brochure .features {
    margin-bottom: 15px;
}

.webinar-brochure .discover {
    margin-bottom: 70px;
}

.webinar-brochure  .home-top_title-2 {
    font-size: 60px;
    font-weight: 600;
    width: 100%;
    line-height: 78px;
    margin: 0 auto 8px;
    background: -webkit-gradient(linear, left top, right top, from(#f81639), to(#013bcf));
    background: linear-gradient(to right, #f81639 0%, #013bcf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.webinar-brochure .bottom-sec {
    background-color: #e3ebff;
    max-width: 100%;
    padding: 215px 0 50px;
}

.webinar-brochure .bottom-sec-2 {
    padding: 670px 0 0;
}

.webinar-brochure .nv-footer {
    padding: 120px 0 20px 0;
    background-color: #000000;
}

.webinar-brochure .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.webinar-brochure ul {
    list-style: none;
}

.webinar-brochure .nv-footer .footer-links li:first-of-type {
    font-size: 21px;
    color: #ffffff;
    margin-bottom: 16px;
    font-weight: 600;
}

.webinar-brochure .nv-footer .footer-links li a {
    font-size: 17px;
    color: #707070;
    line-height: 30px;
    text-decoration: none;
}

.webinar-brochure .footer-btn {
    font-size: 17px;
    background-color: #002fd3;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    width: 143px;
    height: 40px;
}

.webinar-brochure .corporite-text {
    font-size: 13px;
    color: #515151;
}

.webinar-brochure .footer-text {
    margin-top: 45px;
}

.webinar-brochure .card-img-block {
    min-height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider {
    /*height: 350px;
    overflow: hidden;
    width: 100%;*/
}

.carousel-item {
    min-height: 350px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: transparent;
    opacity: 1;
}

.carousel-indicators li.active {
    background-color: #000;
}
.carousel-indicators {
    bottom: -50px;
}





.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 2;
    height: 250px;
    top: 0;
    right: 0;
    background-color: #0a43d1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    height:100%;
}

.sidepanel a {
    padding: 70px 8px 10px 32px;
    text-decoration: none;
    font-size: 45px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    font-size: 17px;
    border-radius: 8px;
    border: 1px solid #ffffff;
    padding: 0 10px;
    width: 120px;
    height: 30px;
    line-height: 28px;
    color: #ffffff;
}

.btn_close {
    padding: 0 35px;
}

.btn-txt {
    text-align: center;
    padding: 105px;
}


/*-----------------pricing--------------------------*/

.web-pricing {
    font-family: 'Cabin', sans-serif;
}
.z-index-1 {
    z-index: 1;
}

.mr-2 {
    margin-right: .5rem!important;
}

.mb-115{
    margin-bottom: 115px;
}

.width-auto {
    width: auto;
}

.web-pricing header {
    height: 76px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    color: #263952;
}

.web-pricing header .navbar {
    padding: 0;
    text-align: center;
}

.web-pricing header .nav-item:not(:last-child) {
    margin-right: 40px;
}

.web-pricing .navbar-expand-lg .navbar-nav .nav-link {
    line-height: 30px;
    font-size: 17px;
    color: #ababab;
    padding: 0;
}

.web-pricing header .white-btn {
    border: 2px solid #000000;
    line-height: 40px;
    font-weight: 600;
    font-size: 17px;
    color: #000000;
    text-decoration: none;
    border-radius: 6px;
    min-width: 160px;
    height: 45px;
    text-align: center;
}

.web-pricing .white-btn {
    border: 2px solid #000000;
    line-height: 40px;
    font-weight: 600;
    font-size: 17px;
    color: #000000;
    text-decoration: none;
    border-radius: 6px;
    min-width: 160px;
    height: 45px;
    text-align: center;
}


.web-pricing header .white-btn-2 {
    display: none;

}

.web-pricing header .black-btn {
    background-color: #000000;
    border-radius: 6px;
    min-width: 160px;
    line-height: 40px;
    font-weight: 600;
    font-size: 17px;
    height: 45px;
    color: #ffffff;
    text-align: center;
}

.web-pricing .black-btn {
    background-color: #000000;
    border-radius: 6px;
    min-width: 140px;
    line-height: 42px;
    font-weight: 600;
    font-size: 17px;
    height: 42px;
    color: #ffffff;
    text-align: center;
}

.web-pricing .nav-login {
    font-size: 17px;
    color: #ababab;
}

.web-pricing .home-top {
    padding: 90px 0 20px;
    border-bottom: 0;
}

.web-pricing  .home-top_title {
    font-size: 60px;
    font-weight: 700;
    width: 100%;
    line-height: 78px;
    margin: 0 auto 22px;
    color: #000;
    text-align: center;
    max-width: 1190px;
}

.web-pricing .navbar-expand-lg .navbar-nav .nav-link .pricing {
    color: #002fd3;
}

.web-pricing .home-top_info {
    max-width: 545px;
    text-align: center;
    margin: auto;
    font-weight: 500;
    color: #000;
    line-height: 30px;
    font-size: 20px;
}

.web-pricing .white-btn-2 {
    border: 2px solid #000000;
    line-height: 40px;
    font-weight: 600;
    font-size: 17px;
    color: #000000;
    text-decoration: none;
    border-radius: 6px;
    min-width: 125px;
    height: 45px;
    text-align: center;
}

.web-pricing .live-meeting {
    position: absolute;
    top: 280px;
    right: 195px;
    z-index: -1;
    display: block;
}

.web-pricing #tabs {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.web-pricing #tabs td, #tabs th {
    border: 1px solid #ddd;
    padding: 8px;
}

.web-pricing #tabs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: #000;
}


.tab-content>.active {
    display: block;
}

/* Change background color of buttons on hover */
.web-pricing .tab button:hover {
    background-color: #cccccc;
}

/* Create an active/current tablink class */
.web-pricing .tab button:active {
    color: #002fd3;
    width: 90px;
    text-align: center;
    line-height: 23px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 5px;

}

/* Style the tab content */
.web-pricing .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    position: relative;
    z-index: 21;
}

.web-pricing .web-table {
    width: 100%;
    margin-bottom: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 23px 32px 0px rgba(0, 0, 0, 0.16);
}

.web-pricing .web-nav {
    justify-content: center;
}

.web-pricing .top-text {
    z-index: -1;
}

.web-pricing .nav-item-2 {
    background-color: #f6f6f6;
    color: #8c8c8c;
}

.web-pricing .navbar-expand-lg .navbar-nav .nav-link.active {
    color: #002fd3;
    background-color: #ffffff;
    border-bottom: 2px solid;

}

.web-pricing .nav-link {
    font-size: 17px;
    color: #8c8c8c;
    font-weight: 500;
}

.web-pricing .middle-sec {
    background-color: #e3ebff;
    max-width: 100%;
    padding: 580px 0 150px;
}

.web-pricing .middle-sec:before {
    height: 37rem;
}

.web-pricing .web-table td,
.web-pricing .web-table th {
    border: 1px solid #ddd;
    padding: 16px;
}

.web-pricing .web-table th {
    background-color: #f6f6f6;
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
    vertical-align: top;
}

.web-pricing .web-table td {
    text-align: center;
}

.web-pricing .web-table .title {
    text-align: left;
    padding-left: 30px;
}

.web-pricing .web-table .th-1 {
    background-color: #ffffff;
    text-align: center;
    padding-top: 40px;
}

.web-pricing .web-table .th-2 {
    background-color: #ffffff;
    text-align: center;
    max-width: 230px;
    padding-top: 35px;
}

.slider {
    -webkit-appearance: none;
    width: 230px;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    border-radius: 10px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 92px;
    height: 5px;
    border-radius: 10px;
    background: #002fd3;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    border-radius: 50%;
    background: #002fd3;
    cursor: pointer;
}

.web-pricing .th-1-txt {
    font-size: 15px;
    margin-bottom: 25px;
}

.web-pricing .th-1-txt-2 {
    font-size: 15px;
    color: #535353;
}

.web-pricing .th-1-txt-3 {
    color: #002fd3;
}

.web-pricing .th-1-txt-4 {
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 400;
    min-height: 75px;
    height: 100%;
}

.web-pricing .web-dollar {
    font-size: 32px;
    color: #002fd3;
    margin-top: 30px;
}

.web-pricing .web-price {
    font-size: 90px;
    color: #002fd3;
}

.web-pricing .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.web-pricing .accordion {
    padding: 0 20px;
    width: 100%;
    margin-bottom: 80px;
}

.web-pricing .card {
    margin-bottom: 10px;
    border: 0;
    overflow: inherit;
}

.web-pricing .card-header {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 5px !important;
    padding: 5px 12px;
}

.web-pricing .accordion .btn-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
}

.web-pricing .accordion .icon-plus-circle {
    color: #002fd3;
}

.web-pricing .card_body_text {
    font-size: 19px;
    line-height: 26px;
    color: #000000;
}

.web-pricing .accordion-title {
    font-size: 21px;
}

.web-pricing .card-body {
    background-color: #ffffff;
    box-shadow: 0px 23px 32px 0px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
}

.web-pricing .card.active .accordion-title {
    color: #002fd3;
}
.web-pricing .card.active .card-header {
    border: none;
}
.web-pricing .accordion .btn-panel:focus {
    outline: none;
    box-shadow: none;
}



.web-pricing .home-middle_info {
    max-width: 545px;
    text-align: center;
    margin: auto;
    font-weight: 500;
    color: #000;
    line-height: 30px;
    font-size: 18px;
}

.web-pricing .web-contact {
    text-decoration: underline;
    color: #002fd3;
}

.web-pricing .middle-btn{
    color: #000000;
    font-size: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    width: 220px;
    height: 50px;
}

.web-pricing .image-notebook {
    width: auto;
    margin-bottom: 55px;
    max-width: 100%;
}

.web-pricing .pencils {
    position: absolute;
    right: 115px;
    bottom: 200px;
}

.web-pricing .bottom-elipse {
    position: absolute;
    bottom: 365px;
    left: 320px;
    z-index: -1;
    display: block;
}

.web-pricing .bottom-elipse-2 {
    display: none;
}

.web-pricing .btn-core-black-2 {
    color: #ffffff;
    font-size: 20px;
    width: 165px;
    background-color: #000000;
    height: 50px;
    line-height: 32px;
    text-align: center;
}

.web-pricing .btn-core-white {
    color: #000000;
    font-size: 20px;
    width: 165px;
    border: 2px solid #000000;
    background-color: #ffffff;
    height: 50px;
    line-height: 32px;
    text-align: center;
}

.web-pricing .home-top_info-3 {
    max-width: 545px;
    text-align: center;
    margin: auto;
    font-weight: 600;
    color: #000;
    font-size: 17px;
    margin-bottom: 20px;
}

.web-pricing .business-btns {
    margin-bottom: 70px;
}

.web-pricing .nv-footer {
    padding: 120px 0 20px 0;
    background-color: #000000;
}

.web-pricing ul {
    list-style: none;
}

.web-pricing .nv-footer .footer-links li:first-of-type {
    font-size: 21px;
    color: #ffffff;
    margin-bottom: 16px;
    font-weight: 600;
}

.web-pricing .nv-footer .footer-links li a {
    font-size: 17px;
    color: #707070;
    line-height: 30px;
    text-decoration: none;
}

.web-pricing .footer-btn {
    font-size: 17px;
    background-color: #002fd3;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    width: 143px;
    height: 40px;
}

.web-pricing .corporite-text {
    font-size: 13px;
    color: #515151;
}

.web-pricing .footer-text {
    margin-top: 45px;
}

.web-pricing .web-money {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.web-pricing .try-demo-li {
    position: absolute;
    left: 0;
    top: 0;
}

.web-pricing .accordion .fa-minus-circle {
    color: #aeaeae;
}


.web-pricing .nav-pills .nav-link.active,
.web-pricing .nav-pills .show>.nav-link {
    background-color: #ffffff;
    color: #002fd3;
    border-radius: 5px;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.17);
}




.fa,
.fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}


custom-rangeslider {
    position: relative;
    margin-top: 40px;
    padding: 0;
}

.custom-rangeInput {
    width: 100%;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    height: 20px;
}
.custom-rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    background-color: #002FD3;
    outline: 2px solid #ffffff;
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -webkit-grab;
    margin-top: -3px;
}


.custom-rangeInput::-webkit-slider-thumb:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.custom-rangeInput::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    background-color: #002FD3;
    outline: 2px solid #ffffff;
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -webkit-grab;
}
.custom-rangeInput::-moz-range-thumb:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.custom-rangeInput::-ms-thumb {
    appearance: none;
    box-sizing: border-box;
    background-color: #002FD3;
    outline: 2px solid #ffffff;
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -webkit-grab;
    margin: auto;
}
.custom-rangeInput::-ms-thumb:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.custom-rangeInput::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    height: 5px;
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    background: grey;
}
.custom-rangeInput::-moz-range-track {
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    height: 5px;
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    background: grey;
}
.custom-rangeInput::-ms-track {
    appearance: none;
    box-sizing: border-box;
    height: 5px;
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    background: grey;
    color: transparent;
    border: none;
    outline: none;
}
.custom-rangeInput:focus, .custom-rangeInput:active {
    outline: none;
}
.custom-rangeInput::-ms-tooltip {
    display: none;
}

.custom-rangeslider__tooltip {
    line-height: 20px;
    position: absolute;
    height: 20px;
    width: 40px;
    background-color: #FFF;
    /*padding: 3px 3px;*/
    top: -15px;
    left: 20px;
    font-size: 15px;
    text-align: center;
    -webkit-transform: translate(-26%, 0);
    transform: translate(-26%, 0);
    border-radius: 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    left: 150px;
    transform: translate(-53.7778%, 0px);
    color: #002fd3;
    pointer-events: none;
}

.custom-rangeslider__label {
    width: 100%;
    display: block;
}
.custom-rangeslider__label span {
    display: block;
}
.custom-rangeslider__label-min {
    float: left;
}
.custom-rangeslider__label-max {
    float: right;
}
.custom-rangeslider__label:after {
    content: "";
    display: table;
    clear: both;
}

.web-pricing .carousel-grid {
    text-align: center;
    max-width: 300px;
    margin: auto;
}

.th-slider {
    display: none;
}

.web-pricing .carousel-control-prev-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: no-repeat 50%/100% 100%;
    color: #002fd3;
    line-height: 38px;
    font-size: 26px;
    border-radius: 50%;
    border: 2px solid #000000;
    /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");*/
}

.web-pricing .carousel-control-next-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: no-repeat 50%/100% 100%;
    color: #002fd3;
    line-height: 38px;
    font-size: 26px;
    border-radius: 50%;
    border: 2px solid #000000;
    /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");*/
}

.web-pricing .carousel-control-next,
.web-pricing .carousel-control-prev {
    bottom: auto;
}
